{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Purchase Orders{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
          <h2 class="mb-3">Purchase Orders</h2>
          <a href="{% url 'purchase-order-create' %}" class="btn btn-success btn-lg">Create Purchase Order</a>
        </div>
        <div class="card-body">
        <!-- Date Filter Form -->
        <form method="get" class="mb-3 d-flex align-items-center">
            <div>
                <label for="date" class="me-2">Select Date:</label>
                <input type="date" id="date" name="date" value="{{ selected_date }}" class="form-control d-inline-block w-auto">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
        </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="table-secondary">
                <tr>
                    <th>Order Number</th>
                    <th>Vendor</th>
                    <th>PO Date</th>
                    <th>PO Amount</th>
                    <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for order in purchase_orders %}
                <tr>
                    <td>{{ order.po_number }}</td>
                    <td>{{ order.vendor.firm_name }}</td>
                    <td>{{ order.created_at.date }}</td>
                    <td>{{ order.po_amount }}</td>
                    <td>
                        <div class="d-flex flex-wrap gap-2">
                            <a href="{% url 'purchase-order-detail' order.pk %}" class="btn btn-sm btn-info">View</a>
                            <a href="{% url 'purchase-order-update' order.pk %}" class="btn btn-sm btn-danger">Update Vendor</a>
                            <a href="{% url 'purchase-order-delete' order.pk %}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="9" class="text-center">No Purchase Order found.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}