{% extends 'base.html' %}
{% block title %}Jobs - MotoHub{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    <h2 class="mb-3">Jobs</h2>
                    <a href="{% url 'create_job' %}" class="btn btn-success btn-lg">Create Job</a>
                </div>
                <div class="card-body">
                    <!-- Date Filter Form -->
                    <form method="get" class="mb-3 d-flex align-items-center">
                        <div>
                            <label for="date" class="me-2">Select Date:</label>
                            <input type="date" id="date" name="date" value="{{ selected_date }}" class="form-control d-inline-block w-auto">
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-secondary">
                            <tr>
                                <th>Job No.</th>
                                <th>Customer</th>
                                <th>Reg. No.</th>
                                <th>Job Date</th>
                                <th>Status</th>
        <!--                        {% if show_completion_time %}-->
        <!--                            <th>Completed</th>-->
        <!--                        {% endif %}-->
                                <th>Amount</th>
                                <th>Paid</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                                <tr>
                                    <td>{{ job.job_no }}</td>
                                    <td>{{ job.customer.customer_name}}</td>
                                    <td>{{ job.license_plate }}</td>
                                    <td>{{ job.created_at.date }}</td>
                                    <td><span class="badge bg-{{ job.status|lower }}">{{ job.status }}</span></td>
        <!--                            {% if show_completion_time %}-->
        <!--                                <td>{{ job.job_completion_time }}</td>-->
        <!--                            {% endif %}-->
                                    <td>{{ job.job_amount|floatformat:2 }}</td>
                                    <td>{{ job.paid_amount|floatformat:2 }}</td>
                                    <td>
                                        <div class="d-flex flex-wrap gap-2">
                                            <a href="{% url 'job_detail' job.pk %}" class="btn btn-sm btn-info">Add Service</a>
                                            <a href="{% url 'job_edit' job.pk %}" class="btn btn-sm btn-warning">Edit</a>
                                            <a href="{% url 'job_edit' job.pk %}" class="btn btn-sm btn-success">Add Payment</a>
                                            <a href="{% url 'job_delete' job.pk %}" class="btn btn-sm btn-danger">Delete</a>
                                            <a href="{% url 'generate_invoice' job.id %}" class="btn btn-sm btn-info">Download Invoice</a>
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No Jobs found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}