{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MotoHub{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Your Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}

    <style>
    .bg-completed { background-color: #28a745; }
    .bg-in.progress { background-color: #ffc107; }
    .bg-pending { background-color: #17a2b8; }
    </style>

</head>
<body>
{% if messages %}
<div id="message-container" style="display: none;">
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message|safe }}
        </div>
    {% endfor %}
</div>
{% endif %}
<style>
    body{
        font-family: var(--font-styrene-b), sans-serif;
        background-color: #a39d8b;
    }
    .sidebar {
        width: 300px; /* Fixed width for sidebar */
        background-color: #f4f4f4; /* Background color for sidebar */
        min-height: 100vh; /* Ensures the sidebar takes full viewport height */
        /* Optional: additional styling */
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        font-size: 15px;
    }
    .alert-custom {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1050;
        padding: 15px;
        border-radius: 5px;
        color: white;
        font-weight: normal;
        text-align: center;
        font-size: 17px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    .alert-success {
        background-color: #28a745;
    }
    .alert-error {
        background-color: #e87b9e;
    }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const messageContainer = document.getElementById('message-container');
    if (messageContainer) {
        const alerts = messageContainer.getElementsByClassName('alert');
        if (alerts.length > 0) {
            showAlert(alerts[0].innerHTML, alerts[0].classList.contains('alert-success') ? 'success' : 'error');
        }
    }
});

function deleteJob(jobId) {
    if (confirm('Are you sure you want to delete this job?')) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = `/delete-job/${jobId}/`;

        const csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = 'csrfmiddlewaretoken';
        csrfInput.value = getCookie('csrftoken');

        form.appendChild(csrfInput);
        document.body.appendChild(form);
        form.submit();
    }
}

function showAlert(message, type) {
    const alertDiv = document.createElement('div');
    alertDiv.className = `alert-custom alert-${type}`;
    alertDiv.innerHTML = message;

    document.body.appendChild(alertDiv);

    // Trigger reflow to enable transition
    alertDiv.offsetHeight;

    // Fade in
    alertDiv.style.opacity = '1';

    setTimeout(() => {
        // Fade out
        alertDiv.style.opacity = '0';
        setTimeout(() => {
            alertDiv.remove();
        }, 500); // Wait for fade out transition to complete
    }, 4500); // Show for 4.5 seconds before starting to fade out
}

// Helper function to get CSRF token
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-secondary sidebar">
            <div class="position-sticky">
                <h1 class="sidebar-heading text-white">MotoHub</h1>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %} text-white " href="{% url 'dashboard' %}">
                            <i class="bi bi-house-door"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle text-white" href="#itemsSubmenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="itemsSubmenu">
                            <i class="bi bi-box"></i> Items
                        </a>
                        <ul class="collapse nav flex-column" id="itemsSubmenu">
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'item-list' %}">View All</a></li>
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'item-create' %}">Create New</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle text-white" href="#customersSubmenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="customersSubmenu">
                            <i class="bi bi-people"></i> Customers
                        </a>
                        <ul class="collapse nav flex-column" id="customersSubmenu">
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'customers' %}">View All</a></li>
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'add-customer' %}">Add New</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle text-white" href="#vendorsSubmenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="vendorsSubmenu">
                            <i class="bi bi-shop"></i> Vendors
                        </a>
                        <ul class="collapse nav flex-column" id="vendorsSubmenu">
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'vendors' %}">View All</a></li>
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'add_vendor' %}">Add New</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle text-white" href="#purchaseOrdersSubmenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="purchaseOrdersSubmenu">
                            <i class="bi bi-cart"></i> Purchase Orders
                        </a>
                        <ul class="collapse nav flex-column" id="purchaseOrdersSubmenu">
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'purchase-orders' %}">View All</a></li>
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'purchase-order-create' %}">Create New</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle text-white" href="#jobsSubmenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="jobsSubmenu">
                            <i class="bi bi-file-earmark-text"></i> Jobs
                        </a>
                        <ul class="collapse nav flex-column" id="jobsSubmenu">
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'jobs' %}">View All</a></li>
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'create_job' %}">Create New</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle text-white" href="#employeesSubmenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="employeesSubmenu">
                            <i class="bi bi-file-earmark-text"></i> Employees
                        </a>
                        <ul class="collapse nav flex-column" id="employeesSubmenu">
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'employees' %}">View All</a></li>
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'create_employee' %}">Add Employee</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle text-white" href="#expensesSubmenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="expensesSubmenu">
                            <i class="bi bi-file-earmark-text"></i> Expenses
                        </a>
                        <ul class="collapse nav flex-column" id="expensesSubmenu">
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'expense_list' %}">View All</a></li>
                            <li class="nav-item"><a class="nav-link py-1 text-white" href="{% url 'expense_create' %}">Add Expense</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" class="nav-link">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="bi bi-box-arrow-right"></i> Log Out
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-1">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>
    <!-- Bootstrap JS and dependencies -->
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extra_js %}{% endblock %}

</body>
</html>
