{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Item List{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    <h2 class="mb-3">Item List</h2>
                    <a href="{% url 'item-create' %}" class="btn btn-success btn-lg">Add New Item</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-secondary ">
                        <tr>
                            <th>Name</th>
                            <th>Suited For</th>
                            <th>Type</th>
                            <th>Quantity</th>
                            <th>MRP</th>
                            <th>Cost Price</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.item_name }}</td>
                            <td>{{ item.item_for_vehicle }}</td>
                            <td>{{ item.item_type }}</td>
                            <td>{{ item.item_quantity_in_stock }}</td>
                            <td>{{ item.item_MRP }}</td>
                            <td>{{ item.cost_price }}</td>
                            <td>
                                <div class="d-flex flex-column flex-md-row justify-content-center gap-2">
                                    <a href="{% url 'item-detail' item.pk %}" class="btn btn-sm btn-info mb-1 mb-md-0">
                                        <i class="fas fa-view mr-1"></i>View
                                    </a>
                                    <a href="{% url 'item-update' item.pk %}" class="btn btn-sm btn-warning mb-1 mb-md-0">
                                        <i class="fas fa-edit mr-1"></i>Edit
                                    </a>
                                    <a href="{% url 'item-delete' item.pk %}" class="btn btn-sm btn-danger mb-1 mb-md-0">
                                        <i class="fas fa-trash mr-1"></i>Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="10" class="text-center">No items found.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}